#app .navbar .home-link span:before {
  display: inline-block;
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  background: url("../img/logo.jpg") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}

.page div:nth-child(1) {
    max-width: 1000px;
}